<div class="container" style='padding-left: 20px; padding-bottom: 20px;'>
<h1>Studios</h1>

<table id='studios' style='width: 100%'>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Movies</th>

  </tr>
      <% @studios.each do |studio| %>
    <tr>
        <td><%= studio.name%></td>
        <td><%= studio.location%></td>
        <td><%= 'Movies' %></td>
    </tr>
  <% end %>
</table><br>
